.AppCointainer{
margin:auto;
width:70%;
padding-top:0.5rem;	
}
.AppButtons{
margin-top:0.5rem;
display:flex;
flex-direction:row;
width:100%;
justify-content:center;
align-items:center;		
}
.SelectOptions{
flex:0.5;
margin-right:0.5vw;		
}
.ProcessButtons{
flex:0.5;
display:flex;	
}
.Convert{
flex:0.7;
margin-right:0.5vw;	
}
.Clear{
flex:0.3;	
}
  

@media screen and (max-width: 920px) {
.AppCointainer{
width:80%;
}
.AppButtons{
width:100%;	
}   
}


@media screen and (max-width: 550px) {
.AppCointainer{
width:90%;
}  
.AppButtons{
width:100%;	
flex-direction:column;
}  
.selectOptions{
flex:1;		
}
.processButtons{
flex:1;		
}
.SelectOptions{
width:100%;
margin-bottom:2vw;		
}
.ProcessButtons{
width:100%;
}
}